<h2>Edit Your Catch!</h2>
<br>

<form class ="" action ="/snakes/<%= @snake.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Description:</label>
  <input type="text" name="content" value="<%= @snake.content %>">
  <label for="length">Length:</label>
  <input type="integer" name="length" value="<%= @snake.length %>">
  <label for="weight">Weight:</label>
  <input type="integer" name="weight" value="<%= @snake.weight %>">
  <label for="monetary_value">Monetary Value:</label>
  <input type="decimal" name="monetary_value" value="<%= @snake.monetary_value %>">
  <input type="submit" name="" value="Edit Snake!">
</form>

<form class="" action="/snakes/<%= @snake.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete this Entry">
</form>