<% @snakes.each do |snake| %>
  <%= snake.id %><br>
  <%= snake.length %> <br>
  <%= snake.weight %> <br>
  <%= snake.value %> <br>

  <a href="/snakes/<%=snakes.id%>/edit">Edit</a>
  <br>
  <br>
  
<% end %>
