<h2>Here are the pythons in your virtual bag!</h2>
<br>
<% @snakes.each do |snake| %>
  <%= snake.id %>
  <br>
  <%= snake.content %> 
  <br>
  <%= snake.length %> 
  <br>
  <%= snake.weight %> 
  <br>
  <%= snake.value %> 
  <br>

  <a href="/snakes/<%=snakes.id%>/edit">Edit</a>
  <br>
  <br>
  
<% end %>
